#Despliegue de forma local

DB_USERNAME=usuario
DB_PASSWORD=contrasenasegura

EUREKA_URL=http://eureka-server:8761/eureka/
EUREKA_HOSTNAME=eureka-server
DB_URL_CHARACTERS=jdbc:postgresql://db-character:5432/characters_db
DB_URL_LOCATION=jdbc:postgresql://db-location:5432/locations_db